{% extends 'base.html' %}

{% block title %}
    <title>صفحه اصلی</title>
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
    <h3>در حال حاضر کاربر با مشخصات زیر وارد شده است:</h3>
      <h2>نام: {{ request.user.first_name }}</h2>
      <h2>نام خانوادگی: {{ request.user.last_name }}</h2>
    {% endif %}
    <h3>لیست کارهای روزمره:</h3>
    <table class="t">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for i in p %}
          <tr>
            <td><h2>آی دی: {{ i.id }}</h2></td>
            <td><h2>موضوع: {{ i.title }}</td>
            <td><td><a href="{% url "showinfo" i.id %}" class='btn btn-info'>مشاهده جزئیات</a></td>
            <td><a href="{% url "delete" i.id %}" class='btn btn-danger'>حذف</a></td>
            <td><a href="{% url 'update' i.id %}" class='btn btn-primary'>بروزرسانی</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br><br>
    <a href="{% url 'create' %}" class='btn btn-secondary'>افزودن</a></br></br>
    <td><a href="{% url 'register' %}" class='btn btn-secondary'>ثبت نام</a></td>
    <td><a href="{% url 'login' %}" class='btn btn-secondary'>ورود</a></td>
    <td><a href="{% url 'logout' %}" class='btn btn-secondary'>خروج</a></td>
    
    {% if messages %}
        {% for msg in messages %}
            <h1>{{ msg }}</h1>
        {% endfor %}
    {% endif %}

{% endblock %}






